  <nav class="topnav" id="myTopnav">
    {% if page.url == "/" %}
      <a href="/index.html" class="active">Home</a>
    {% else %}
      <a href="/index.html">Home</a>
    {% endif %}

    {% if page.url == "/about.html" %}
      <a href="/about.html" class="active">About</a>
    {% else %}
      <a href="/about.html">About</a>
    {% endif %}

    {% if page.url == "/contact.html" %}
      <a href="/contact.html" class="active">Contact</a>
    {% else %}
      <a href="/contact.html">Contact</a>
    {% endif %}

    <a href="javascript:void(0);" class="icon" onclick="mobileMenu()"><span>☰</span></a>
  </nav>
