  <nav class="topnav" id="myTopnav">
    {% if page.url == "/" %}
      <a href="/" class="active">Home</a>
    {% else %}
      <a href="/">Home</a>
    {% endif %}

    {% if page.url == "/about/" %}
      <a href="/about/" class="active">About</a>
    {% else %}
      <a href="/about/">About</a>
    {% endif %}

    {% if page.url == "/blog.html" %}
      <a href="/blog.html" class="active">Blog</a>
    {% else %}
      <a href="/blog.html">Blog</a>
    {% endif %}

    {% if page.url == "/contact/" %}
      <a href="/contact/" class="active">Contact</a>
    {% else %}
      <a href="/contact/">Contact</a>
    {% endif %}

    <a href="javascript:void(0);" class="icon" onclick="mobileMenu()"><span>☰</span></a>
  </nav>
