---
layout: page
title: Blog
---
  {% for post in paginator.posts %}
      <h4><a class="blogTitle" href="{{ post.url }}">{{ post.title }} | {{ post.date | date: "%A %-d %B %Y" }}</a></h4>
      
      <hr style="border: 1px solid #bbb; margin-top: -15px;">
      {{ post.excerpt }}
      <a href="{{ post.url }}">Read More -></a>
  {% endfor %}
<!---Page Numbers--->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a style="color: black;" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a style="color: black;" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a style="color: black;" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a style="color: black;" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

